h1{
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

button {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  outline: none;
  margin: 10px auto;
  border: none;
  border-radius: 2px;
  color: #fff;
  display: block;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

#saveSettings,#clearStorage{
  background-color: teal;
}

#restoreSettings{
  background-color: steelblue;
}

#copySettings{
  background-color: purple;
}

#rinkebyStyle{
  display: block;
  margin: 0 auto;
  width: 120px;
}